<nav class="navbar">
    <a class="navbar-brand" href="/">News-Scraper</a>
    <button class="btn btn-large getArticlesBtn" id="scrapeNewArticles">Get New Articles</button>
</nav>
<div class="jumbotron d-flex align-items-center">
    <h1 class="d-flex justify-content-center align-items-center whiteTextShadow">Get the News</h1>
</div>
<div class="container-fluid">
    <div class="row w-100 p-0 m-0">
    {{#unless articlesArray}}
        <h1>Click on Scrape New Articles button to get new articles.</h1>
    {{/unless}}
    {{#each articlesArray}}
        <div class="card w-100 my-2">
            <div class="card-body d-flex">
                <div class="col-10">
                    <h5 class="card-title" data-articleId={{_id}}>
                        <a href="{{link}}" target="_blank">
                            {{title}}
                        </a>
                    </h5>
                    <p class="card-text">{{summary}}</p>
                    <p class="text-muted publishedDate mb-0">
                        <i class="far fa-clock"></i> {{hoursAgoPublished}} hours ago</p>

                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-outline-primary">Notes</button>
                </div>
            </div>

        </div>
        <h1></h1>
    {{/each}}
    </div>
</div>